name: .NET Core Desktop

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    strategy:
      matrix:
        configuration: [Debug, Release]

    runs-on: windows-latest

    env:
      Solution_Name: Dream_MM_Map_Editor.sln

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Install .NET Core
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x

    - name: Setup MSBuild.exe
      uses: microsoft/setup-msbuild@v2

    - name: Restore the application
      run: msbuild $env:Solution_Name /t:Restore /p:Configuration=$env:Configuration
      env:
        Configuration: ${{ matrix.configuration }}

    - name: Build project
      run: dotnet build --configuration Release --no-restore

    # Показ содержимого папки со сборкой
    # чтобы проверить, что DLL реально собрался
    - name: Show built DLLs
      run: Get-ChildItem .\MMMapEditor\bin\Release\net6.0-windows\ -Recurse

    # Публикация DLL как артефакта
    - name: Publish Artifact
      uses: actions/upload-artifact@v4
      with:
        name: app-binary
        path: MMMapEditor\bin\Release\net6.0-windows\
